<h1 class="title">Lista de Empleados</h1>
<button (click)="(['/empleados/create'])" class="create-button">Crear nuevo Empleado</button>
<table class="empleados-table">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Apellido</th>
      <th>Distrito</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let empleado of empleados">
      <td>{{ empleado.Nombre }}</td>
      <td>{{ empleado.Apellido }}</td>
      <td>{{ empleado.distrito?.NombreDistrito || 'Sin distrito' }}</td>

      <td>
        <button (click)="editEmpleado(empleado.ID_Empleado)" class="action-button">Editar</button>
        <button (click)="deleteEmpleado(empleado.ID_Empleado)" class="action-button">Eliminar</button>
      </td>
    </tr>
  </tbody>
</table>
