<div class="title-container">
  <h1 class="title">Lista de Empleados</h1>
  <button (click)="goToMainPanel()" class="main-panel-button">Volver al Panel Principal</button>
</div>

<!-- Campo de búsqueda mejorado -->
<div class="search-container">
  <input type="text" placeholder="Buscar por nombre, apellido o distrito..." [(ngModel)]="searchText" class="search-input"/>
  <button class="clear-button" *ngIf="searchText" (click)="searchText = ''">✖</button>
</div>

<button (click)="createEmpleado()" class="create-button">Crear nuevo Empleado</button>

<table class="empleados-table">
  <thead>
    <tr>
      <th>No.</th>
      <th>Nombre</th>
      <th>Apellido</th>
      <th>Distrito</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    <!-- Aplicar el Pipe de búsqueda -->
    <tr *ngFor="let empleado of empleados | filterEmpleado: searchText; let i = index">
      <td>{{ i + 1 }}</td>
      <td>{{ empleado.Nombre }}</td>
      <td>{{ empleado.Apellido }}</td>
      <td>{{ empleado.distrito?.NombreDistrito || 'Sin distrito' }}</td>

      <td>
        <button (click)="editEmpleado(empleado.ID_Empleado)" class="action-button">Editar</button>
        <button (click)="deleteEmpleado(empleado.ID_Empleado)" class="action-button">Eliminar</button>
      </td>
    </tr>
  </tbody>
</table>
