<h1 class="title">Editar Tarea</h1>

<!-- Mostrar el mensaje de éxito si existe -->
<div *ngIf="successMessage" class="success-message">
  {{ successMessage }}
</div>

<!-- Mostrar el mensaje de error si existe -->
<div *ngIf="errorMessage" class="error-message">
  {{ errorMessage }}
</div>

<form (ngSubmit)="updateTarea()" class="tarea-form">
  <div class="form-group">
    <label for="descripcion">Descripcion</label>
    <input id="descripcion" [(ngModel)]="tarea.Descripcion" name="descripcion" required>
  </div>
  <button type="submit" class="submit-button">Actualizar</button>
</form>


