<div>
  <h1>Registro de Actividades</h1>

  <!-- Información general -->
  <div class="info-header general-info">
    <p>Programa Salud Reproductiva</p>
    <p>DIRECCION DEPARTAMENTAL DE REDES INTEGRADAS DE SERVICIOS DE SALUD HUEHUETENANGO</p>
    <p>INFORME MENSUAL TÉCNICAS UNIVERSITARIAS EN PARTERIA</p>
  </div>

  <!-- Información del distrito y coordinador -->
  <div class="info-header distrito-info">
    <div class="info-item">
      <span>Distrito de Salud. No.   {{distritoid2}}</span>
      <span>{{ distrito?.NombreDistrito }}</span>
    </div>
    <div class="info-item">
      <span>Vo. Bo. Del Coordinador/a del distrito:</span>
      <span>{{ distrito?.Coordinador }}</span>
    </div>
  </div>

  <!-- Lista desplegable de años -->
  <div>
    <label for="anio">Selecciona el año:</label>
    <select [(ngModel)]="anioSeleccionado" name="anio" (change)="onAnioSeleccionado()" title="Selecciona el año en curso">
      <option *ngFor="let anio of anios" [value]="anio">{{ anio }}</option>
    </select>
  </div>

  <!-- Lista desplegable de empleados (habilitada solo si se seleccionó un año) -->
  <div>
    <label for="empleado">Selecciona tu nombre:</label>
    <select [(ngModel)]="empleadoSeleccionado" name="empleado" (ngModelChange)="onEmpleadoSeleccionado()" title="Selecciona tu nombre" [disabled]="!anioSeleccionado">
      <option *ngFor="let empleado of empleados" [value]="empleado.ID_Empleado.toString()">
        {{ empleado.Nombre }} {{ empleado.Apellido }}
      </option>
    </select>
  </div>

  <div class="selected-year">
    <label>{{ anioSeleccionado }}</label>
  </div>

  <!-- Tabla de Tareas -->
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <ng-container matColumnDef="numero">
      <th mat-header-cell *matHeaderCellDef>No.</th>
      <td mat-cell *matCellDef="let element; let y = index">{{ y + 1 }}</td>
    </ng-container>

    <ng-container matColumnDef="tarea">
      <th mat-header-cell *matHeaderCellDef>Tarea</th>
      <td mat-cell *matCellDef="let element">{{ element.Descripcion }}</td>
    </ng-container>

    <ng-container *ngFor="let mes of meses; let i = index" matColumnDef="{{ mes }}">
      <th mat-header-cell *matHeaderCellDef>
        {{ mes }}
        <ng-container *ngIf="empleadoSeleccionado">
          <button *ngIf="!columnasEditables[i]" (click)="habilitarEdicion(i)">Editar</button>
          <button *ngIf="columnasEditables[i]" (click)="guardarDatosPorMes(mes)">Guardar</button>
          <button *ngIf="columnasEditables[i]" (click)="cancelarEdicion()">Cancelar</button>
        </ng-container>
      </th>
      <td mat-cell *matCellDef="let tarea">
        <input *ngIf="columnasEditables[i]" [(ngModel)]="tarea.valoresMeses[mes]" type="number" />
        <span *ngIf="!columnasEditables[i]">{{ tarea.valoresMeses?.[mes] === 0 ? '0' : (tarea.valoresMeses?.[mes] ?? '-') }}</span>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
