<div>
    <h1>Registro de Tareas</h1>
  
    <!-- Mostrar información del distrito y empleado -->
    <div class="info-header">
      <p>Distrito: {{ distrito.NombreDistrito }} ({{ distrito.ID_Distrito }})</p>
      <p>Coordinador: {{ distrito.Coordinador }}</p>
      <p>Empleado: {{ empleado.Nombre }} {{ empleado.Apellido }}</p>
    </div>
  
    <!-- Tabla de Tareas -->
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      
      <!-- Columna de Tareas -->
      <ng-container matColumnDef="tarea">
        <th mat-header-cell *matHeaderCellDef>Tarea</th>
        <td mat-cell *matCellDef="let element">{{ element.tareaNombre }}</td>
      </ng-container>
    
      <!-- Columna de Número de Tarea -->
      <ng-container matColumnDef="numero">
        <th mat-header-cell *matHeaderCellDef>Número</th>
        <td mat-cell *matCellDef="let element">{{ element.tareaNumero }}</td>
      </ng-container>
  
      <!-- Columnas para cada mes -->
      <ng-container *ngFor="let mes of meses" [matColumnDef]="mes">
        <th mat-header-cell *matHeaderCellDef>{{ mes | titlecase }}</th>
        <td mat-cell *matCellDef="let element">{{ element.valoresMeses[mes] || '-' }}</td>
      </ng-container>
  
      <!-- Header y Filas -->
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  
    </table>
  </div>
  