

/* Select de empleado */
select {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  /* Tabla de tareas */
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  th, td {
    padding: 12px;
    text-align: center;
    border-bottom: 1px solid #ddd;
  }
  
  th {
    background-color: #007bff;
    color: black;
    font-weight: bold;
    text-transform: uppercase;
  }
  
  td {
    font-size: 14px;
  }
  
  /* Estilo para inputs de edición */
  input[type="number"] {
    width: 40px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    text-align: center;
  }
  
  /* Estilo al pasar el mouse sobre filas */
  tr:hover {
    background-color: #f1f1f1;
  }
  
  /* Estilo de columnas de meses */
  .ng-container matColumnDef {
    text-align: center;
  }
  
  /* Estilo para los botones (si se agregan en el futuro) */
  button {
    padding: 5px 10px;
    margin: 10px;
    font-size: 14px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  
  
  
  
/* Estilo del encabezado */
h1 {
  text-align: center;
  font-size: 2.5em;
  font-weight: bold;
  color: #fff;
  background: linear-gradient(90deg, #007bff, #00c6ff);
  padding: 20px;
  margin-bottom: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Estilo general de los contenedores de información */
.info-header {
  background: linear-gradient(90deg, #00c6ff, #007bff);
  color: #fff;
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 20px;
  font-size: 1.2em;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

/* Separar las dos secciones de información */
.general-info {
  text-align: center;
}

/* Flexbox para organizar los textos en el div del distrito */
.distrito-info {
  display: flex;
  flex-direction: column;
  gap: 1px;  /* Espaciado entre elementos */
}

.info-item {
  display: flex;
  justify-content: space-evenly;
  padding: 8px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);  /* Línea de separación entre elementos */
}

.info-item span:first-child {
  font-weight: 600; /* Para resaltar el texto de descripción */
}

.info-item span:last-child {
  text-align: center;
}

  
  .selected-year {
    font-size: 2em;
    font-weight: bold;
    color: #ffffff;
    background-color: #00796b;
    padding: 10px 20px;
    border-radius: 8px;
    margin-top: 10px;
    text-align: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  }