<div class="title-container">
  <h1 class="title">Lista de Tareas</h1>
  <button (click)="goToMainPanel()" class="main-panel-button">Volver al Panel Principal</button>
</div>
<!-- Campo de búsqueda mejorado para tareas -->
<div class="search-container">
  <input 
    type="text" 
    placeholder="Buscar por descripción de la tarea..." 
    [(ngModel)]="searchTerm" 
    class="search-input"
  />
  <button class="clear-button" *ngIf="searchTerm" (click)="searchTerm = ''">✖</button>
</div>

<button (click)="createTarea()" class="create-button">Crear nueva tarea</button>

<table class="tareas-table">
  <thead>
    <tr>
      <th>No.</th>
      <th>Descripción</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    <!-- Aplicar el Pipe de búsqueda en tareas -->
    <tr *ngFor="let tarea of tareas | filterTarea: searchTerm; let i = index">
      <td>{{ i + 1 }}</td>
      <td>{{ tarea.Descripcion }}</td>
      <td>
        <button (click)="editTarea(tarea.ID_Tarea)" class="action-button">Editar</button>
        <button (click)="deleteTarea(tarea.ID_Tarea)" class="action-button">Eliminar</button>
      </td>
    </tr>
  </tbody>
</table>
