<h1 class="title">Lista de Tareas</h1>
<button (click)="createTarea()" class="create-button">Crear nueva tarea</button>
<table class="tareas-table">
  <thead>
    <tr>
      <th>No.</th>
      <th>Nombre</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let tarea of tareas">
      <td>{{ tarea.ID_Tareas }}</td>
      <td>{{ tarea.Nombre }}</td>
      <td>
        <button (click)="editTarea(tarea.ID_Tareas)" class="action-button">Editar</button>
        <button (click)="deleteTarea(tarea.ID_Tareas)" class="action-button">Eliminar</button>
      </td>
    </tr>
  </tbody>
</table>
