/* Contenedor del campo de búsqueda */
.search-container {
    position: relative; /* Importante para posicionar el botón 'X' dentro del input */
    width: 100%;
    max-width: 400px; /* Tamaño máximo de la barra de búsqueda */
    margin-bottom: 15px;
  }
  
  /* Input de búsqueda */
  .search-input {
    width: 100%;
    padding: 10px 15px;
    padding-right: 35px; /* Espacio extra para el botón 'X' */
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    outline: none;
    transition: all 0.3s ease;
  }
  
  /* Efecto al enfocarse */
  .search-input:focus {
    border-color: #007bff;
    box-shadow: 0 0 10px rgba(0, 123, 255, 0.2);
  }
  
  /* Botón 'X' para limpiar el campo de búsqueda */
  .clear-button {
    position: absolute;
    right: 10px; /* Mantén el botón dentro del contenedor del input */
    top: 50%; 
    transform: translateY(-50%);
    background: none;
    border: none;
    font-size: 18px;
    color: #888;
    cursor: pointer;
  }
  
  .clear-button:hover {
    color: #000;
  }
  
  
  /* Botón de crear empleado */
  .create-button {
    margin-bottom: 20px;
    padding: 10px 20px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
  }
  
  .create-button:hover {
    background-color: #218838;
  }
  
  /* Tabla de empleados */
  .tareas-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
  }
  
  .tareas-table th,
  .tareas-table td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  .tareas-table th {
    background-color: #f8f9fa;
  }
  
  .tareas-table tr:hover {
    background-color: #f1f1f1;
  }
  
  .action-button {
    margin-bottom: 10px;
    padding: 5px 10px;
    font-size: 14px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #007bff;
    color: white;
    margin-right: 10px;
  }
  
  .action-button:hover {
    background-color: #0056b3;
  }
  
  .mat-snack-bar-container {
    background-color: #4caf50 !important; /* Color verde para éxito */
    color: #fff;
  }
  
  .mat-snack-bar-action {
    color: #fff;
  }

  /* Contenedor que alinea el título y el botón */
.title-container {
  display: flex;
  justify-content: space-between; /* Espacio entre el título y el botón */
  align-items: center;  /* Alinear verticalmente el botón con el título */
  margin-bottom: 20px;
}

/* Estilos del título */
.title {
  margin: 0;
}

/* Estilos del botón de "Volver al Panel Principal" */
.main-panel-button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-right: 32px;
  margin-top: 20px;
  transition: background-color 0.3s ease;
}

.main-panel-button:hover {
  background-color: #0056b3;
}
  