<h1 class="title">Crear nueva tarea</h1>

<!-- Mostrar el mensaje de éxito si existe -->
<div *ngIf="successMessage" class="success-message">
    {{ successMessage }}
  </div>
  
  <!-- Mostrar el mensaje de error si existe -->
  <div *ngIf="errorMessage" class="error-message">
    {{ errorMessage }}
  </div>

<form (ngSubmit)="createTarea()" class="tarea-form">
    <div class="form-group">
        <label for="nombre">Nombre</label>
        <input type="text" id="descripcion" [(ngModel)]="newTarea.Descripcion" name="descripcion" required>
    </div>

    <button type="submit" class="create-button">Crear nueva tarea</button>
  </form>
  