<h1 class="title">Crear nueva tarea</h1>
<form (ngSubmit)="createTarea()" class="tarea-form">
    <div class="form-group">
        <label for="numero">No.</label>
        <input type="text" id="numero" [(ngModel)]="newTarea.Numero" name="numero" required>
    </div>

    <div class="form-group">
        <label for="nombre">Nombre</label>
        <input type="text" id="nombre" [(ngModel)]="newTarea.Nombre" name="nombre" required>
    </div>

    <button type="submit" class="create-button">Crear nueva tarea</button>
  </form>
  