<h1 class="title">Editar información del empleado</h1>

<!-- Mostrar el mensaje de éxito si existe -->
<div *ngIf="successMessage" class="success-message">
  {{ successMessage }}
</div>

<!-- Mostrar el mensaje de error si existe -->
<div *ngIf="errorMessage" class="error-message">
  {{ errorMessage }}
</div>

<form (ngSubmit)="updateEmpleado()" class="empleado-form">
  <div class="form-group">
    <label for="nombre">Nombre:</label>
    <input id="nombre" [(ngModel)]="empleado.Nombre" name="nombre" required>
  </div>
  
  <div class="form-group">
    <label for="apellido">Apellido:</label>
    <input id="apellido" [(ngModel)]="empleado.Apellido" name="apellido" required>
  </div>

  <div class="form-group">
    <label for="distrito">Distrito:</label>
    <select id="distrito" [(ngModel)]="empleado.fk_distrito" name="distrito" required>
      <option value="" disabled selected>Seleccione un distrito</option>
      <option *ngFor="let distrito of distritos" [value]="distrito.ID_Distrito">
        {{ distrito.NombreDistrito }}
      </option>
    </select>
  </div>

  <button type="submit" class="submit-button">Actualizar</button>
</form>
