<div class="container">
    <h1 class="title">Iniciar Sesión</h1>

    <form id="loginForm" (ngSubmit)="onLogin()" #loginForm="ngForm" novalidate>
        <!-- Lista desplegable de distritos -->
        <div class="form-group">
            <label for="distrito">Seleccione su distrito:</label>
            <select id="distrito" class="form-control" name="distrito" required [(ngModel)]="selectedDistrito" #distrito="ngModel">
                <option value="" disabled selected>Seleccione un distrito</option>
                <option *ngFor="let distrito of distritos" [value]="distrito.ID_Distrito">{{ distrito.NombreDistrito }}</option>
            </select>
            <div *ngIf="distrito.invalid && distrito.touched" class="error-message">
                Debe seleccionar un distrito.
            </div>
        </div>

        <!-- Campo de contraseña -->
        <div class="form-group" *ngIf="selectedDistrito">
            <label for="password">Ingrese la contraseña:</label>
            <input type="password" id="password" class="form-control" name="password" required minlength="4" [(ngModel)]="password" #passwordInput="ngModel">
            <div *ngIf="passwordInput.invalid && passwordInput.touched" class="error-message">
                La contraseña es requerida y debe tener al menos 4 caracteres.
            </div>
            <div *ngIf="isInvalidPassword" class="error-message">
                La contraseña es incorrecta.
            </div>
        </div>

        <!-- Botón de inicio de sesión -->
        <div class="form-group">
            <button type="submit" class="login-button" [disabled]="loginForm.invalid">Iniciar Sesión</button>
        </div>
    </form>
</div>

