<div>
  <h1>CONSOLIDADOS POR DISTRITO DONDE HAY TUP</h1>

  <!-- Mostrar información del tiempo de produccion -->
  <div class="info-header">
    <p>Producción de Enero a Diciembre {{anioSeleccionado}}</p>
  </div>

  <!-- Lista desplegable de años -->
  <div>
    <label for="anio">Selecciona el año:</label>
    <select [(ngModel)]="anioSeleccionado" name="anio" (change)="onAnioSeleccionado()" title="Selecciona el año en curso">
      <option *ngFor="let anio of anios" [value]="anio">{{ anio }}</option>
    </select>
  </div>

  <!-- Lista desplegable de distritos -->
  <div>
    <label for="distrito">Selecciona el distrito:</label>
    <select [(ngModel)]="distritoSeleccionado" name="distrito" (change)="onDistritoSeleccionado()" [disabled]="!anioSeleccionado" title="Selecciona el distrito">
      <option *ngFor="let distrito of distritos" [value]="distrito.ID_Distrito">
        {{ distrito.NombreDistrito }}
      </option>
    </select>
  </div>

  <div>
    <!-- Tabla de Tareas -->
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      <ng-container matColumnDef="numero">
        <th mat-header-cell *matHeaderCellDef>No.</th>
        <td mat-cell *matCellDef="let element; let y = index">{{ y + 1 }}</td>
      </ng-container>

      <ng-container matColumnDef="tarea">
        <th mat-header-cell *matHeaderCellDef>Tarea</th>
        <td mat-cell *matCellDef="let element">{{ element.Descripcion }}</td>
      </ng-container>

      <ng-container *ngFor="let mes of meses; let i = index" matColumnDef="{{ mes }}">
        <th mat-header-cell *matHeaderCellDef>
          {{ mes }}</th>
        <td mat-cell *matCellDef="let tarea">
          <span>{{ tarea.valoresMeses?.[mes] || '-' }}</span>
        </td>
      </ng-container>

            <!-- Nueva columna Total -->
      <ng-container matColumnDef="Total">
        <th mat-header-cell *matHeaderCellDef>Total</th>
        <td mat-cell *matCellDef="let tarea">
          <span>{{ calcularTotal(tarea.valoresMeses) }}</span>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
</div>
